.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

#Guy's ignored files.
salt/*
Vagrantfile

#Database config.
CIDatabaseConfig.php
CICryptoKey.php
