.about-us-row, .contact-us-row{
	margin: 0;
	margin-bottom: 15px;
}

.contact-us-form-wrapper{
	padding-left: 0px;
}

.contact-us-submit{
	float: right;
}

#contact-us-message{
	max-width: 100%;
	max-height: 300px;
	min-height: 300px;
}