
.forums-panel{
	overflow: hidden;
	min-height: 150px;
}

.open{
	height: 100%
}

.closed-panel{
	height: 100px;
}

.post-vote-wrapper{
	padding-left: 0px;
}

.post-wrapper{
	padding-right: 30px;
	padding-left: 0px;
}

.up-vote-wrapper, .down-vote-wrapper, .positive-count-wrapper{
	text-align: center;
	width: 100%;
}

.glyphicon{
	width: 50%;
}

.glyphicon-chevron-up{
	margin-top: 20px;
	margin-left: 2px;
}

.vote-neutral{
	color: #777;
	cursor: pointer;
}

.vote-positive{
	color: #F44336;
	cursor: pointer;

}

.vote-negative{
	color: #0D47A1;
	cursor: pointer;
}

.add-new-post-btn{
	margin-top: 3.5px;
}

.header-link-collapse{
	cursor: pointer;
}

.edit-post{
	color: #428bca !important;
	margin-right: 5px;
}