html {
  overflow-y: scroll;
}

.log-in-input{
	display: block !important;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-static-top{
	z-index: 3;
}

.remember-me-checkbox{
	margin-top: 0px !important;
}

.log-in-button{
	margin-bottom: 20px;
}

.log-in-form{
	margin-bottom: 0px;
	margin-top: 5px;
	margin-left: 70px;
	padding: 0px;
}

.navbar-site-brand{
	margin-top: 5px;
	margin-bottom: 5px;
}

.user-name{
	color: #777;
	display: inline-block;
	margin-top: 18px;
	font-size: 125%;
}

.log-out-button{
	margin-bottom: 5px;
	margin-left: 5px;
}

.navbar-nav{
	height: 60px;
}

.navbar-nav > li > a{
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-col{
	height: 60px;
	padding: 0px;
}

.login-form-col{
	padding-left: 25px;
}

.html-no-bar{
	overflow-y: hidden;
}