.profile-info-rowection{
	width: 100%;
	height: 300px;
}

hr{
	margin-top: 0px;
}

.btn-add-expense{
	bottom: 0;
	float: right;
}

.button-wrapper{
	bottom: 0;
	margin-top: 15px;
}

.user_profile_wrapper{
	padding: 0;
}

.expense-list-wrapper{
	max-height: 300px;
	overflow-x: hidden;
}

.expense-item{
	padding-right: 5px;
	padding-left: 0px;
	margin: 0px;
}

.userProf-control-panel{
	margin-bottom: 0px;
}

.table-striped{
	margin-bottom: 0px;
}